body {
  margin: 0;
  padding: 0;
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 31.98px;
}

h2 {
  font-size: 22.62px;

}

p {
  font-size: 18px;
}

nav {
  background-color: #92FF46 !important;
	/* font-family: 'Work Sans', sans-serif !important; */
	/* width: 100%;
  height: 60px;
  line-height: 60px;
	color: black; */
}
main {
  flex: 1 0 auto;
}


.footer-sticky {
  /* position: sticky; */
  bottom: 0;
}

.icon {
  color: #7F7F7D;
}

.logo {
  padding: 0;
  margin: 0;
  width: 200px;
  height: auto;
}

.logo-icon {
  width: 200px;
  height: auto;
  margin: 10px;
}

.footer-donate {
  background-color: #92FF46;
}

.footer-volunteer {
  background-color: #FFB636;
}

.footer-receive {
  background-color: #2ACEFF;
}

.experiance-btn{
  width: 300px;
}
.signupform{
  margin-left: 100px;
  margin-right: 100px;
}
.switch{
  display: inline;
}

.icon-delete {
  color: red;
}

.button-row {
  vertical-align: text-top !important;
  vertical-align: top !important;
}

.row-div {
  height: 400px;
  width: auto;
}

.row-div-header {
  height: 470px;
  width: auto;
}


.button-submit a {
  color: white !important;
}

.organization-info {
  text-align: left;
}

.btn-receiver {
  background-color: #2ACEFF !important;

}

.btn-volunteer{
  background-color: #FFB636 !important;


}

.btn-donator {
  background-color: #92FF46 !important;

}
